<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/user.js"></script>
<div id="body" ng-app="myApp" >
    <div ng-controller="UserController">
        <h1>List of users</h1>
        <ul>
            <li ng-repeat="u in users">
                {{u.Name}}
            </li>
        </ul>
    </div>
    <div ng-controller="AddUserController">
        <form name="saveUserForm" ng-submit="addUser()">
            <h3>Create a new User</h3>
            <p>
                <label for="userName">User Name:</label>
                <input type="text" name="Name" ng-model="user.Name" required maxlength="50"/> <span style="color:red">*</span>
            </p>
            <p>
                <label for="uesrAge">User Age:</label>
                <input type="text" name="Age" ng-model="user.Age" required /> <span style="color:red">*</span>
            </p>
            <p>
                <label for="uesrAddress">User Address:</label>
                <input type="text" name="Address" ng-model="user.Address" maxlength="50" />
            </p>
            <button ng-click="addUser()">Add</button>
        </form>
    </div>
</div>
